@model ShoppingCart

@{
    ViewData["Title"] = "Details";
}

<form method="post">
    <input hidden asp-for="ProductId" />
    <section class="py-5 shadow border-5 shadow-lg m-2">
        <div class="col-6 col-md-2 offset-lg-1 pb-1">
            <a asp-action="Index" class="btn btn-outline-primary bg-gradient mb-5 fw-semibold btn-sm text-uppercase">
                <small><i class="fa-solid fa-arrow-left"></i> Back to home</small>
            </a>
        </div>
        <div class="container px-4 px-lg-5 my-5">
            <div class="row gx-4 gx-lg-5 align-items-center">
                <div class="col-12 col-lg-4 offset-lg-1 text-center mb-3">

                    @if (Model.Product.ProductImages != null && Model.Product.ProductImages.Count > 0)
                    {
                        <div id="carouselExampleIndicators" class="carousel  slide" data-bs-ride="carousel">
                            <div class="carousel-indicators">

                                @foreach (var imageWithIndex in
                               Model.Product.ProductImages
                               .Select((image, index) => new
                               { Image = image, Index = index }))
                                {
                                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="@imageWithIndex.Index"
                                            class="@(imageWithIndex.Index==0?"active":"")" aria-current="true" aria-label="Slide 1"></button>
                                }

                            </div>
                            <div class="carousel-inner">
                                @foreach (var imageWithIndex in
                               Model.Product.ProductImages
                               .Select((image, index) => new
                               {
                                   Image = image,
                                   Index = index
                               }))
                                {
                                    <div class="@(imageWithIndex.Index==0?"carousel-item active":"carousel-item")">
                                        <img src="@imageWithIndex.Image.ImageUrl" class="d-block w-100" alt="...">
                                    </div>
                                }
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>

                    }

                </div>
                <div class="col-md-6">
                    <div class="small mb-1">ISBN:@Model.Product.ISBN</div>
                    <h1 class="display-5 fw-bolder">@Model.Product.Title</h1>
                    <div class="fs-5 mb-5">
                        <h4>By: @Model.Product.Author</h4>
                        <hr />
                        <h6>Category: @Model.Product.Category.Name</h6>
                    </div>
                    <div class="fs-5 mb-5">
                        <span>Price: @Model.Product.Price.ToString("c")</span>
                        <hr />
                    </div>
                    <p class="lead">@Html.Raw(Model.Product.Description)</p>
                    <div class="d-flex">
                        <input asp-for="Count" type="number" value="1" class="form-control text-center me-3 p-2"
                               aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"
                               style="max-width: 3rem" />
                        <button type="submit" class="btn btn-outline-dark flex-shrink-0">
                            <i class="bi-cart-fill me-1"></i>
                            Add to cart @Model.Product.Price.ToString("c")
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>

<script>
    function animateCart() {
        var cart = document.getElementById('cart');
        cart.classList.add('animate__animated', 'animate__bounce');
        setTimeout(function () {
            cart.classList.remove('animate__animated', 'animate__bounce');
        }, 1000);
    }

    // Call the animateCart function when the Add to Cart button is clicked
    document.querySelector('button[type="submit"]').addEventListener('click', animateCart);
</script>